

a {
    text-decoration: none;
    color: white;

    &:hover, &:active{
        color: lightgray;
    }
}

.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

mat-toolbar{
    border-radius: 3px;
}

@media(max-width: 992px){
    mat-toolbar{
        border-radius: 0px;
    }
}

@media only screen and (min-width:600px){
    .header-title {
        margin-left: 12px;
    }
}