<section fxLayout="column" fxFlexAlign="stretch">
  <div fxFlexAlign="center">
    <p>Obtain the n-th number in the <a href="https://en.wikipedia.org/wiki/Fibonacci_sequence" target="_blank">Fibonacci</a> sequence</p>
  </div>
  <form [formGroup]="this.fibsService.form">
    <input
      placeholder="Provide a positive whole number"
      formControlName="nthNumber"
      type="number"
      class="input-field col s12"
    />

    <button *ngIf="!loader" class="waves-effect waves-light btn col s12 blue lighten-1" type="button" (click)="onSubmit()" (keyup.enter)="onSubmit()">
      Submit request
    </button>

    <button *ngIf="loader" class="btn col s12" type="button" disabled>
      Processing...
    </button>
  </form>
</section>